# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# VRChat Creator Companion / VPM
/Packages/packages-lock.json
/vpm-manifest.json

# Unity cache
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# IDE
.vs/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
